@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

@layer base {
  html {
    /* Reserves space for the scrollbar to prevent layout shift */
    scrollbar-gutter: stable;
  }
}
